<!DOCTYPE html>
<html>
<head>
    <title>Musicshop App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'musicshop/css/style.css' %}">
    <script src="{% static 'musicshop/js/script.js' %}"></script>   
</head>
<body style="background-color:#4DB6AC;">

<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="{% url 'index' %}" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">MusicShop</a>
    {% if user.is_authenticated %}
      <div class="dropdown" style="float:right;">
        <button onclick="myFunction()" class="dropbtn" style="background-color:#FFCC33;color:#000000;">{{ user.get_username }}</button>
        <div id="myDropdown" class="dropdown-content" style="right:0;">
          <a href="{% url 'my-profile' %}">Moj račun</a>
          <a href="{% url 'recenzija-list' %}">Moje recenzije</a>
          {% if user.is_staff or user.is_superuser %}
          <a href="{% url 'admin:index' %}">Administracija</a>
          {% endif %}
          <a href="{% url 'logout' %}">Odjava</a>
        </div>
      </div>
    {% else %}  
      <a href="{% url 'login' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Prijava</a>
    {% endif %}
</nav>

{% block kosarica %}
<div class="sidenav">
  <a href="{% url 'checkout-view' %}">Košarica</a>
  <d style="padding: 6px 8px 6px 16px;text-decoration: none;font-size: 14px;color: #818181;display: block;">Ukupna cijena: {{SumCijena}}kn</d>
  <d style="padding: 6px 8px 6px 16px;text-decoration: none;font-size: 14px;color: #818181;display: block;"># Artikala: {{CountArtikl}}</d>
  <a href="{% url 'checkout-empty' %}" style="font-size: small;">isprazni košaricu</a>
</div>
{% endblock %}
<div class="main" style="margin-top: 50px;">

<br>
{% block content %}

<div>
  <form method="GET" action="" id="searchform">
    <label for="id_search">Pretraga: </label>
    <input class="searchfield" id="searchbox" name="pretraga" type="search"/>
    <select id="klasa" name="klasa">
      <option selected>Klasa...</option>
      {% for Klasa in klase %}
      <option value="{{ Klasa.naziv }}">{{ Klasa.naziv }}</option>
      {% endfor %}
    </select>
    <label for="cijena_min">Minimalna cijena: </label>
    <input class="searchfield" id="searchbox" name="cijena_min" type="search"/>
    <label for="cijena_max">Maximalna cijena: </label>
    <input class="searchfield" id="searchbox" name="cijena_max" type="search"/>
    <input type="submit" value="Traži">
  </form>
</div>
<br>

<div>
  <table style="border-collapse: separate;border-spacing: 10px;">
    <tr>
      <th>Artikl</th>
      <th>Cijena</th>
      <th></th>
    </tr>
    {% for Artikl in shelf %}
      <tr>
        <td><a href="{% url 'artikl-detail' pk=Artikl.pk %}" style="background-color:rgb(255, 255, 255);color:#000000;">{{ Artikl.naziv }}</a></td>
        <td><d style="background-color:#FFCC33;color:#000000;">{{ Artikl.cijena }} kn</d></td>
        <td><a href="{% url 'checkout-add' pk=Artikl.pk %}" style="background-color:rgb(248, 224, 153);color:#000000;">Dodaj u košaricu</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
</div>

{% block script %}
{% endblock %}
</body>
</html>