{% extends 'musicshop/musicshop.html' %}
{% block content %}
    <center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Recenzija</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            
            <tr>
                <th>{{ upload_form.ocjena.label }}</th>
                <td>{{ upload_form.ocjena }}</td>
            </tr>
            <tr>
                <th>{{ upload_form.komentar.label }}</th>
                <td>{{ upload_form.komentar }}</td>
            </tr>
            {{ upload_form.artikl.as_hidden }}
            {{ upload_form.user.as_hidden }}

        </table>
        <button type="submit" class="btn btn-lg btn-warning">Submit</button>
    </form>
</center>
{% endblock %}